name: Build
on: [push]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build and publish a Docker image for ${{ github.repository }}
        uses: macbre/push-to-ghcr@master
        with:
          image_name: bestsens/stm32-build-image
          image_tag: gcc14
          github_token: ${{ secrets.GITHUB_TOKEN }}